footer
	.footer-top
		.container-fluid
			.row
				.col-md-2
					.footer-links
						h3 Quick Shop
						ul
							li
								a(href='#', title='') Home
							li
								a(href='#', title='') Clothing
							li
								a(href='#', title='') Jewellery
							li
								a(href='#', title='') Shoes
							li
								a(href='#', title='') Accessories
							li
								a(href='#', title='') Collections
							li
								a(href='#', title='') Sale
							li
								a(href='#', title='') Page
				.col-md-2
					.footer-links
						h3 Products
						ul
							li
								a(href='#', title='') Home
							li
								a(href='#', title='') Clothing
							li
								a(href='#', title='') Jewellery
							li
								a(href='#', title='') Shoes
							li
								a(href='#', title='') Accessories
							li
								a(href='#', title='') Collections
							li
								a(href='#', title='') Sale
							li
								a(href='#', title='') Page
				.col-md-4
					.contact-box
						h3 Contact Us
						ul.addressFooter
							li
								i.fa.fa-map-marker
								p 55 Gallaxy Enque, 2568 steet, 23568 NY
							li.phone
								i.fa.fa-phone-square
								p  000-000-0000
							li.email
								i.fa.fa-envelope
								p sales@yousite.com
				.col-md-4
					.facebook-likebox
						h3 Follow us
						img(src="img/upload/download.jpg" alt="Image")
	.footer-bottom
		.container-fluid.text-center
			.inner
				span © 2018 BELLE.
				|  All Rights Reserved. Ecommerce Software by Shopify.