mixin subMenuPage
  ul.sub-menu.style-2
    li
      a(href="#") About Us <i class="fa fa-angle-right" aria-hidden="true"></i>
      ul.sub-menu
        li
          a(href="02_001_About_1.html") About Us 01
        li
          a(href="02_002_About_2.html") About Us 02
        li
          a(href="02_003_About_3.html") About Us 03
        li
          a(href="02_004_About_4.html") About Us 04
        li
          a(href="02_005_About_5.html") About Us 05
    li
      a(href="#") About Us with Sidebar  <i class="fa fa-angle-right" aria-hidden="true"></i>
      ul.sub-menu
        li
          a(href="02_006_About_Sidebar_1_Company_Overview.html") Company Overview
        li
          a(href="02_006_About_Sidebar_2_Our_Mission.html") Our Mission
        li
          a(href="02_006_About_Sidebar_3_Company_History.html") Company History
        li
          a(href="02_006_About_Sidebar_4_Partners.html") Partners
        li
          a(href="02_006_About_Sidebar_5_Our_Team.html") Our Team
        li
          a(href="02_006_About_Sidebar_6_Careers.html") Carrers
    li
      a(href="#") Services  <i class="fa fa-angle-right" aria-hidden="true"></i>
      ul.sub-menu
        li
          a(href="05_001_Services_1.html") Services 01
        li
          a(href="05_002_Services_2.html") Services 02
    li
      a(href="08_001_Shop_Items.html") Contact Shop  <i class="fa fa-angle-right" aria-hidden="true"></i>
      ul.sub-menu
        li
          a(href="07_001_Contact_1.html") Contact 01
        li
          a(href="07_002_Contact_2.html") Contact 02
        li
          a(href="07_003_Contact_3.html") Contact 03
        li
          a(href="07_004_Contact_4.html") Contact 04
        li
          a(href="07_005_Contact_5.html") Contact 05
    li
      a(href="08_001_Shop_Items.html") Shop

mixin submenuClothing
  ul.sub-menu
    li
      .row
        .col-lg-3
          h3
            a(href="#") Women
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Men
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Kids
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Sportswear
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
      .d-none.d-lg-block
        .row
          .col-lg-4
            a(href="#")
              img(src="img/upload/clothe-menu-img1.jpg" alt="Image")
          .col-lg-4
            a(href="#")
              img(src="img/upload/clothe-menu-img1.jpg" alt="Image")
          .col-lg-4
            a(href="#")
              img(src="img/upload/clothe-menu-img1.jpg" alt="Image")

mixin submenuJewelry
  ul.sub-menu
    li
      .row
        .col-lg-3
          h3
            a(href="#") Imitation Jewellery
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/') Necklaces & Pendants
            li.lvl-2
              a.site-nav.lvl-2(href='/') Earrings
            li.lvl-2
              a.site-nav.lvl-2(href='/') Dimond Rings
            li.lvl-2
              a.site-nav.lvl-2(href='/') Bangles & Bracelets
            li.lvl-2
              a.site-nav.lvl-2(href='/') Jewellery Sets
        .col-lg-3
          h3
            a(href="#") Men
              span.visually-hidden Precious Jewellery
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Dimond Jewellery
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3.d-none.d-lg-block
          a(href="#")
            img(src="img/upload/jewelry-menu-img_d5da603f-816f-464e-85e3-24697ed064f3_450x.jpg" alt="Image")

mixin submenuAccesories
  ul.sub-menu
    li
      .row
        .col-lg-3
          h3
            a(href="#") Women
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Men
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Kids
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants
        .col-lg-3
          h3
            a(href="#") Sportswear
              span.visually-hidden expand
          ul.subLinks
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Blazers & Vests
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Graphics Tees
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jeans
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Jackets & Outerwear
            li.lvl-2
              a.site-nav.lvl-2(href='/collections/women') Pants

mixin tile_store_info(title,desc)
  .tile-store-info
    i&attributes(attributes)
    h5!=title
    .sub-text!=desc

mixin cartDropdown
  .dropdown-menu(aria-labelledby="dropdownCart")
    .row
      .col-3
        a.product-image(href="#")
          img(src="img/upload/2015-03-20_Ashley_Look_18_23512_15536.jpg" alt="Image")
      .col-9
        .product-details
          a.remove(href='#')
            i.fa.fa-times(aria-hidden='true')
          a.pName(href="#") Floral Sleeveless Dress - 8 / Green
          .priceRow
            .product-price
              span.money $380.00 
            span.prodMulti X
            .qtyField
              span(rv-text='item.quantity') 1
    .row
      .col-3
        a.product-image(href="#")
          img(src="img/upload/2015-03-20_Ashley_Look_18_23512_15536.jpg" alt="Image")
      .col-9
        .product-details
          a.remove(href='#')
            i.fa.fa-times(aria-hidden='true')
          a.pName(href="#") Floral Sleeveless Dress - 8 / Green
          .priceRow
            .product-price
              span.money $380.00 
            span.prodMulti X
            .qtyField
              span(rv-text='item.quantity') 1
    ul.mini-products-list(data-cart-view='data-cart-view')
      li.total(rv-show='cart.item_count | gt 0')
        label Total:
        span.product-price(rv-html='cart.total_price | money currency.currentCurrency')
          span.money(data-currency-usd='$380.00', data-currency='USD') $380.00
      li.buttonSet.text-center(rv-show='cart.item_count | gt 0')
        a#inlinecheckout-cart.btn.btn-secondary.btn--small(href='/cart') view Cart
        a.btn.btn-secondary.btn--small(href='/checkout') Check out
