//.banner-home
.banner-home {
	font-size: 12px;
}
.banner-item {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	transition: opacity 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
	@include breakpoint(lg) {
		height: 400px;
	}
	@include breakpoint(xl) {
		height: 700px;
	}
}
.slideshow {
	overflow: hidden;
	margin-bottom: 0;
}

.banner-home .banner-item,
.banner-home .slick-list,
.banner-home .slick-track {

}

.banner-home {
	.slick-prev,
	.slick-next {
		top: 50%;
		@include translate(0, -50%);
		width: 40px;
		height: 40px;
		text-align: center;
		background-color: rgba($clr-white,.2);
		&::before {
			font-size: 30px;
			line-height: 30px
		}
		&:hover {
			background-color: rgba($clr-white,.5);
			box-shadow: 0 0 4px rgba($clr-black,.4);
		}
	}
	.slick-prev {
		left: 10px;
	}
	.slick-next {
		right: 10px
	}
}
// .banner-home .slick-dots {
// 	bottom: 15px;
// 	text-align: center;
// 	left: 50%;
// 	transform: translateX(-50%)
// }
// .banner-home .slick-dots li button::before {
// 	color: $clr-white;
// }
.slideshow-title, .slideshow-subtitle {
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: $clr-white;
	text-shadow: 0 0 15px rgba($clr-black,.1);
	animation-delay: .4s;
	animation-duration: .6s;
	animation-fill-mode: both;
}
.slideshow-title {
	margin-bottom: 8px;
	line-height: 1.2;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-size: 2em;
	@include breakpoint(md) {
		font-size: 2.33333em;
	}
	@include breakpoint(lg) {
		font-size: 2.58333em;
	}
	@include breakpoint(xl) {
		font-size: 3.83333em;
	}
}
.slideshow-subtitle {
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 1.33333em;
	margin: 0 auto;
	max-width: 75%;
	display: none;
	@include breakpoint(sm) {
		display: block;
	}
	@include breakpoint(md) {
		font-size: 1.5em;
	}
}
.slideshow-overlay {
	height: 100%;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $clr-black;
		opacity: 0.4;
		z-index: 3;
	}
	.slideshow-content {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 50%;
		@include translate(0, -40%);
		transition: all 0.6s cubic-bezier(0.44, 0.13, 0.48, 0.87);
		transition-delay: 0.3s;
		z-index: 3;
		opacity:0;
	}
}

.slick-active{
	.slideshow-overlay {
		.slideshow-content {
			@include translate(0, -50%);
			opacity:1;
		}
	}
}
.slideshow-caption {
	display: inline-block;
	padding: 30px;
	.btn{
		font-size: 13px;
		text-transform: uppercase;
		@include breakpoint(lg) {
			padding: 8px 18px 8px;
		}
	}
}

//.latest-blog
.row-blog {
	&>[class*="col-"] {
		margin-bottom: 35px;
	}
}
.wrap-blog {
	display: table;
	font-size: 12px;
	.blog-image,
	.blog-meta {
		display: table-cell;
		vertical-align: middle;
	}
	.blog-image {
		clear: both;
		margin-bottom: 17.5px;
	}
	.blog-meta {
		width: 55%;
		    margin-bottom: 35px;
	}
	.blog-inner {
		background: rgba(255,255,255,0.8);
		padding: 20px;
		margin-left: -30px;
		position: relative;
	}
	.article-title {
		font-family: "Poppins","HelveticaNeue","Helvetica Neue",sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 0;
		a {
			color: inherit;
			text-decoration: none;
			font-weight: inherit;
			&:hover, &:focus {
				opacity: .8;
			}
		}
	}
	.article-author, .article-date {
		display: inline-block;
		margin-bottom: 15px;
	}
	.article-author {
		margin-right: 10px;
	}
	.article-date {
		font-size: 12px;
		color: #666;
	}
	.article-desc {
		font-size: 12px;
		margin-bottom: 10px;
		color: $clr-2;
		max-height: 48px;
	}
	.article-meta-buttons {
		a {
			color: $clr-black;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}
.list--inline {
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		list-style: none;
	}
}

/* .partner */
.partner {
	.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
		opacity: 1;
	}
}
.partner-item {
	vertical-align: middle;
	max-width: 160px;
	margin: 0 17.5px 0;
	opacity: 0.6;
	&:hover {
		opacity: 1;
	}
}