@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//showStickyMenu
@-webkit-keyframes showStickyMenu {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes showStickyMenu {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
@keyframes showStickyMenu {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}