extends layouts/default

block content
	// start banner-home
	section.banner-home.index-section
		.banner-item.item
			a(href="#")
				img.pc(src="http://cdn.shopify.com/s/files/1/1964/8879/files/home-bnr-4_1900x.jpg", alt="Image")
				img.sp(src="http://cdn.shopify.com/s/files/1/1964/8879/files/home-bnr-4_800x.jpg", alt="Image")
				.slideshow-overlay
					.slideshow-content
						.slideshow-caption
							h2.slideshow-title Fashion &amp; Show
							span.slideshow-subtitle A World Fashion and Trendy Fashion Clother&#39;s
							span.btn Shop now

		.banner-item.item
			a(href="#")
				img.pc(src="http://cdn.shopify.com/s/files/1/1964/8879/files/slide-2_1900x.jpg", alt="Image")
				img.sp(src="http://cdn.shopify.com/s/files/1/1964/8879/files/slide-2_800x.jpg", alt="Image")
				.slideshow-overlay
					.slideshow-content
						.slideshow-caption
							h2.slideshow-title Shop Our New Collection
							span.slideshow-subtitle From Hight to low, classic or modern. We have you covered
							span.btn Shop now
		.banner-item.item
			a(href="#")
				img.pc(src="http://cdn.shopify.com/s/files/1/1964/8879/files/slide-3_1900x.jpg", alt="Image")
				img.sp(src="http://cdn.shopify.com/s/files/1/1964/8879/files/slide-3_800x.jpg", alt="Image")
				.slideshow-overlay
					.slideshow-content
						.slideshow-caption
							h2.slideshow-title Lingerie collections
							span.slideshow-subtitle Save up to 50% off this weekend only
							span.btn Shop now
	// e: banner-home
