header{
  background-color:$clr-white;
}

.mainnav {
  @include transition(all .3s ease-out);
  ul {
    // position: relative;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      // position: relative;
      &:hover {
        &> ul.sub-menu {
          opacity: 1;
          visibility: visible;
          top:40px;
        }
      }
      &.dropdown{
        position:relative;
      }
    }
  }
  &>ul {
    &>li {
      display: inline-block;
      &>a {
        position: relative;
        display: block;
        color: $clr-black;
        font-size: 12px;
        text-decoration: none;
        outline: none;
        text-transform: uppercase;
        @include breakpoint(lg){
          line-height:40px;
          padding:0 20px !important;
        }
        &:hover{
          color:$clr-1;
        }
      }
    }
  }
  ul.sub-menu {
    @include breakpoint(lg){
      position: absolute;
      left: 0;
      top: 59px;
      width: 100%;
      // white-space: nowrap;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      @include transition(all 0.4s ease-in-out);
      background:$clr-white;
      @include box-shadow(2px 2px 1px 0px rgba(0,0,0,0.3));
      border:1px solid #eee;
      padding:25px;
      &.style-2{
        width:220px;
        padding:0;
      }
    }
  }
}

/* submenu */
.mainnav ul > li:hover > ul.sub-menu li ul.sub-menu:before {
  border: none;
  content: none;
}
.mainnav ul li ul li {
  margin-left: 0;
  position:relative;
}
.mainnav ul.sub-menu.style-2 li ul {
  @include breakpoint(lg){
    position: absolute;
    left: 219px;
    top: 40px;
    padding:0;
  }
}
.mainnav ul.sub-menu.style-2 li a .fa{
      position: absolute;
    right: 10px;
    top: 6px;
}
.mainnav ul.sub-menu.style-2 li:hover ul{
  @include breakpoint(lg){
    top:0;
  }
}
.mainnav ul.sub-menu li:first-child {
  border-top: none;
}
.mainnav ul.sub-menu > li > a {
  display: block;
  color: $clr-black;
  font-size: 13px;
  // font-size: 14px;
  text-decoration: none;
  border-top: 1px solid transparent;
  padding: 6px 15px;
  // padding: 10px 23px;
  @include transition(all .2s ease-out);
}
.mainnav ul.sub-menu > li:first-child > a {
  border-top-width: 0;
}
.mainnav ul.sub-menu > li > a:hover,
.mainnav > ul > li > ul > li.active > a {
  color: $clr-black;
}

// .mainnav-mobi {
//   display: block;
//   margin: 0 auto;
//   width: 100%;
//   position: absolute;
//   z-index: 1000;

//   ul {
//     display: block;
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     li {
//       margin:0;
//       position: relative;
//       text-align: left;
//       border-top: 1px solid transparent;
//       cursor: pointer;
//     }
//   }

//   &>ul {
//     &>li {
//       &>a {
//         text-decoration: none;
//         display: inline-block;
//         padding: 10px 15px;
//         color: #fff;
//         text-transform: uppercase;
//       }
//     }
//   }

//   .search-input {
//     padding-top: 4px;
//     padding-bottom: 4px;
//   }
// }
// .mainnav-mobi ul.sub-menu {
//   top: 100%;
//   left: 0;
//   z-index: 2000;
//   position: relative;
// }
// .mainnav-mobi > ul > li > ul > li,
// .mainnav-mobi > ul > li > ul > li > ul > li {
//   position: relative;
// }
// .mainnav-mobi ul.sub-menu > li > a {
//   @include transition (all 0.2s ease-out);
//   color: $clr-white;
//   display: block;
//   padding: 10px 15px;
//   text-decoration: none;
// }
// .mainnav-mobi > ul > li > ul > li:first-child a {
//   border-top: none;
// }
// .mainnav-mobi ul.sub-menu > li > a:hover,
// .mainnav-mobi > ul > li > ul > li.active > a {
//   background: $clr-1;
// }

.btn-menu {
  @include transition(all .3s ease-out);
  color: #fff;
  font-family: "FontAwesome";
  font-size: 28px;
  cursor: pointer;
  display: none;

  &::before {
    content: '\f0c9';
  }
}
.btn-submenu {
  @include square(30px);
  align-items: center;
  cursor: pointer;
  display: flex;
  font: 20px 'FontAwesome';
  justify-content: center;
  position: absolute;
  right: convert-rem(20px);
  top: convert-rem(8px);
  &::before {
    content: '\f107';
    color: $clr-white;   
  }
  &.active {
    &::before {
      content: '\f106';
    }
  }
}

@media (max-width: 991px) {
  .btn-menu {
    display: inline-block;
  }
}
.open-cart {
  &>a {
    @include square(40px);
    border: 1px solid transparent;
    display: block;
    line-height: 27px;
    position: relative;
    text-align: center;
    &>* {
      vertical-align: middle;
    }
  }
  &:hover{
    .dropdown-cart{
      display:block;
    }
  }
}

.mega-wrap {
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
  z-index: 1000;
  .mainnav-mobi & {
    position: relative;
    background: #292c3d;
    z-index: 1000;
    @include transition(all .2s ease-out);
  }
}
.mega-menu {
  background: #1f1f1f;
  padding-left: 15px;
  padding-right: 15px;
  ul {
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 0;
    width: 100%;
    li {
      float: left;
      width: 25%;
      padding: 0 15px;
      a {
        color: $clr-white;
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #323232;
      }
    }
  }
}

//.sub-menu edit
.visually-hidden, .icon__fallback-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.mainnav .sub-menu{
  div{
    &>.site-nav{
      text-transform: uppercase;
      color: $clr-black;
      font-weight: 600;
      font-size:13px;
      display:block;
      font-family:$title-font;
      margin-bottom:10px;
    }
  }
  .subLinks{
    margin-bottom:25px;
    li{
      a{
        padding: 5px 0;
        font-size:13px;
        &:before{
          @include breakpoint(lg){
            content: "";
            display: inline-block;
            width: 0px;
            height: 2px;
            vertical-align: middle;
            background-color: #000;
            -ms-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover{
          @include breakpoint(lg){
           &:before{
             width: 5px;
            margin-right: 3px;
           }
          }
        }
      }
    }
  }
}

.mainnav{
  @include breakpoint(lg){
    @include flexWidth(calc(100% - 248px));
    position:relative;
  }
}

.mainnav{
  ul.sub-menu.style-2{
    &> li{
      &> a{
        &:hover{
          color: #000;
          background-color: #eee;
          padding-left: 17px;
        }
      }
    }
  }
}

.navbar{
  padding-left:0;
  padding-right:0;
  .navbar-right{
    @include flexWidth(124px);
    text-align:right;
    .search-open{
      border:none;
      background-color:transparent;
      padding:0;
      font-size: 16px;
      margin-top: 2px;
      display:inline-block;
      cursor:pointer;
    }
    .cart{
      margin-left:15px;
      display:inline-block;
      i{
        font-size:19px;
      }
      span{
        font-family: arial;
        font-size: 12px;
        margin-left:5px;
      }
    }
    .dropdown{
      display:inline-block;
      .dropdown-menu{
        left:auto;
        right:0;
        border:1px solid #e8e9eb;
        @include box-shadow(none);
        @include border-radius(0);
        width:320px;
        padding:15px;
        .row{
          margin-bottom:10px;
        }
        .product-details{
          font-size:12px;
          .remove{
            float: right;
            padding: 1px 7px;
            margin-right: -7px;
          }
          .pName{
            white-space: normal;
            text-decoration: none;
            display: block;
            line-height: 20px;
            margin-right: 18px;
          }
          .priceRow{
            margin: 10px 0 0;
            .product-price, .qtyField{
              display:inline-block;
            }
            .prodMulti{
              display:inline-block;
              font-size:10px;
              margin-left:3px;
            }
          }
        }
      }
    }
  }

  .navbar-brand{
    margin:0;
    @include flexWidth(124px);
  }

  .navbar-collapse{
    @media screen and (max-width:991px){
      width: 270px;
      height: 100%;
      position: fixed;
      left: -270px;
      top: 0;
      z-index: 999;
      background-color: #ffffff;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      opacity: 0;
      visibility: hidden;
      -ms-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      display:block !important;
      overflow-x:hidden;
      overflow-y:auto;
      &.show{
        // left: 0;
        opacity: 1;
        visibility: visible;
      }
      .navbar-nav{
        li{
          border-top:1px solid #eeeeee;
          a{
            padding:10px 45px 10px 10px;
            position:relative;
            .fa{
              color: #333333;
              display: block;
              width: 40px;
              height: 40px;
              line-height: 40px;
              position: absolute;
              right: 0;
              top: 0;
              text-align: center;
            }
          }
        }
        .sub-menu{
          display:none;
        }
      }
    }
  }
}

#mainnav .sub-menu .subLinks{
  display:block !important;
}

.mini-products-list{
  @extend %list-type;
  li{
    padding-bottom: 10px;
    line-height: normal;
  }
  .btn{
    margin: 0 3px;
    text-transform:uppercase;
  }
  .total{
    margin: 10px 0;
    padding: 8px 0;
    height: 40px;
    border-top: 1px solid #e8e9eb;
    border-bottom: 1px solid #e8e9eb;
    text-align: left;
    display: inline-block;
    width: 100%;
    label{
      float: left;
      line-height: 24px;
      text-transform: uppercase;
    }
    .product-price{
      float: right;
      font-size: 16px;
    }
  }
}


//.header-search
.header-search{
  position:fixed;
  top:-100px;
  left:0;
  width:100%;
  background-color:$clr-white;
  z-index:99;
  height:58px;
  @include transition(all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1));
  &.open{
    top:0;
  }
  .search-inner{
    position:relative;
    padding:0 25px;
    margin-top:15px;
    .close-header-search{
      position:absolute;
      top:0;
      right:0;
    }
  }
  form{
    position:relative;
    padding-left:25px;
    button{
      border:none;
      background-color:transparent;
      position:absolute;
      top:0;
      left:0;
    }
    input{
      border:none;
      width:100%;
      padding:5px 15px 3px;
      &:focus{
        outline:none;
      }
    }
  }
}

//fixed header
.fixed-header{
  header{
    position: fixed;
    animation: 250ms ease-out 0s normal none 1 running showStickyMenu;
    height:58px;
    top:0;
    left:0;
    width:100%;
    @include box-shadow(0 0 7px rgba(0,0,0,0.2));
    z-index:98;
  }
}

// menu mobile
#mainnav-mobi{
  li{
    border-top: 1px solid #eeeeee;
    position: relative;
    a{
      color: #333333;
      font-size: 13px;
      text-decoration: none;
      display: block;
      padding: 10px 45px 10px 10px;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      font-weight: 400;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-family:$base-font;
      margin-bottom:0;
    }
    li{
      a{
        padding-left:20px;
      }
      li{
        a{
          padding-left: 30px;
        }
      }
    }

    ul{
      display: none;
      background-color: #f2f2f2;
    }
  }
}

.closemobileMenu{
  color: $clr-black;
  font-size: 13px;
  padding: 8px 10px;
  background-color: #eee;
  cursor: pointer;
  i{
    font-size: 18px;
    float:right;
    margin-left:5px;
  }
}
#wrapper{
  @include transition(all 0.4s ease-in-out);
}
.open-menu{
  @media screen and (max-width:991px){
    overflow-x:hidden;
  }
  #wrapper{
    @media screen and (max-width:991px){
      @include translate(270px,0);
    }
  }
  .navbar{
    .navbar-collapse{
      opacity: 1;
      visibility: visible;
    }
  }
}

